%ul.timeline
  -right = false
  -date = nil
  -@activities.each do |activity|
    -unless date == activity.date
      %li.timeline-date
        .label.label-success="#{t('days')[activity.full_date.wday]} #{l(activity.full_date, format: :day_month)}"
    %li{class: "#{'timeline-inverted' if right}"}
      .timeline-badge
        =link_to content_tag(:i, nil, class: "fa fa-#{activity.css_class} fa-2x activity-post-link"), activity_post_link(activity), remote: true
      .timeline-panel
        .timeline-heading
          .visible-xs
            %small.text-muted.pull-right{style: "padding-top:10px;"}
              %i.glyphicon.glyphicon-time
              =l(activity.full_date, format: :short_time)
            %h4.timeline-title
              %a.location.title-like{href: member_path(activity.user), style: 'text-decoration:none;'}
                =image_tag(gravatar_for(activity.user), class: "img-rounded", size: "35x35")
          .hidden-xs
            %small.text-muted.pull-right{style: "padding-top:10px;"}
              %i.glyphicon.glyphicon-time
              =l(activity.full_date, format: :short_time)
            %h4.timeline-title
              %a.location.title-like.hidden-xs{href: member_path(activity.user), style: 'text-decoration:none;'}
                =image_tag(gravatar_for(activity.user), class: "img-rounded", size: "35x35")
                =activity.user.name
        .timeline-body
          %p{style: "text-align: center;"}= activity.message
    - right = !right
    - date = activity.date
