.panel.panel-default
  .panel-heading
    .pull-right
      %h4= link_to @info.display_name, @info.image.url, target: :blank
    %h4= content_tag(:i, " Google", class: "fa fa-google-plus")
  .panel-body
    %table{width: "100%"}
      %tr
        %td{style: 'padding-right: 10px;'}= image_tag(@feed.picture, size: '50x50', class: "img-rounded")
        %td

    %table{width: "100%"}
      %tr
        %td{align: 'center'}
          %strong= ""
        %td{align: 'center'}
          %strong= ""

#results
  = render 'google_feed'
