.modal-body{style: 'padding:0px;'}
  .panel.panel-default{style: 'margin-bottom:0px;'}
    .panel-heading
      %h3.panel-title
        .pull-right
          = link_to content_tag(:i, nil, class: "fa fa-remove fa-2x"), "", data: {dismiss: "modal"}
        -if params[:path] == "liked"
          = link_to content_tag(:i, nil, class: "fa fa-arrow-left fa-2x"), relationships_user_social_medium_index_path(@user, feed_id: @feed.id, relationship_type: 'liked'), remote: true, class: "back-arrow"
        = image_tag(@post.user[:profile_picture], size: "30x30", class: "img-rounded")
        = @post.user[:username]
    .panel-body
      %div{style: 'margin:-15px -15px -15px -15px;'}
        -if @post[:videos]
          = video_tag(@post.videos.standard_resolution.url, controls: true, class: "feed-img")
        -else
          = image_tag(@post.images.standard_resolution.url, class: "feed-img")
      %p{style: 'padding-top:10px;'}
        .pull-right
          = time_ago_in_words(Time.zone.at(@post.created_time.to_i), scope: 'time_ago')
        .badge
          = content_tag(:i, " #{@post.likes[:count]}", class: "fa #{@post.user_has_liked ? 'fa-heart' : 'fa-heart-o'}")
      %p= @post.caption.text if @post.caption
      -if @comments.any?
        %ul.list-group{style: "padding-left:0px;"}
          -@comments.each do |comment|
            %li.list-group-item{id: comment.id}
              .list-group-item-heading
                .pull-right
                  = time_ago_in_words(Time.zone.at(comment.created_time.to_i), scope: 'time_ago')
                  -if current_user.parent?
                    = link_to content_tag(:i, nil, class: "fa fa-remove"), delete_comment_user_social_medium_index_path(id: @feed.id, user_id: @user.id, media_id: @post.id, comment_id: comment.id), remote: true, data: {confirm: t('are_you_sure')}
                =link_to comment.from[:username], "http://instagram.com/#{comment.from[:username]}", target: :blank
              %p.list-group-item-text= comment.text
