.modal-body{style: 'padding:0px;'}
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        .pull-right
          = link_to content_tag(:i, nil, class: "fa fa-remove fa-2x"), "", data: {dismiss: "modal"}
        = params[:relationship_type] == "following" ? t("following") : t("followers")
    .panel-body
      %table.table.table-hover
        %tbody
          - @results.each do |result|
            -puts result
            %tr
              %td{style: "width:50px;"}= link_to image_tag(result['profile_picture'], size: "40x40", class: "img-rounded media-object"), "http://instagram.com/#{result['username']}", target: :blank
              %td
                %h4.media-heading=link_to result['username'], "http://instagram.com/#{result['username']}", target: :blank
                = result['full_name']
