.lead{align: "center"}
  .pull-right= link_to "", "", class: "glyphicon glyphicon-remove", data: {dismiss: "modal"}
  %p= SocialMedia::TYPE_NAME[@feed.feed_type]
  .well.well-small
    = image_tag(@feed.picture, size: '40x40', class: "img-rounded")
    = @feed.full_name
    = " ( #{@feed.username} )"
- if @results.any?
  - @results.each do |post|
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          .pull-right
            %span.glyphicon.glyphicon-heart
            =post.likes[:count]
          = Time.at(post.created_time.to_i).strftime("%B %d, %Y")
      .panel-body
        %div{align: "center"}
          = image_tag(post.images.low_resolution.url)
          %p= post.caption.text
        - post[:comments][:data].each do |comment|
          .media
            %a.pull-left{:href => "http://instagram.com/#{comment.from[:username]}"}
              = image_tag(comment.from[:profile_picture], size: "30x30", class: "img-rounded media-object")
            .media-body
              %h4.media-heading=link_to comment.from[:username], "http://instagram.com/#{comment.from[:username]}"
              = comment.text
-else
  No Results