- if @results.any?
  -last_post = nil
  - @results.each do |post|
    -last_post = post
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          .pull-right
            = time_ago_in_words(post.created_at)
          = image_tag(post.user.profile_image_url.to_s, size: '30x30', class: "img-rounded")
          = post.user.name
      .panel-body
        %div
          = twitter_feed_display(post)
          -post.media.each do |m|
            =image_tag(m.media_url.to_s, class: "feed-img img-rounded")
  -if last_post
    #more-loading{style: 'display:none;', align: 'center'}
      %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
        %h4.list-group-item.active
          %i.fa.fa-spinner.fa-spin
    #more-results
      %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
        %h4= link_to t("load_more"), more_results_user_social_medium_index_path(@user, feed_id: @feed.id, id: last_post.id), remote: true, class: "list-group-item active", onclick: "loadingMoreSocialMedia();"
-else
  %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
    %h4.list-group-item.active= t("no_results")
