.panel.panel-default
  .panel-heading
    .pull-right
      %h4= link_to @info.screen_name, "http://twitter.com/#{@info.screen_name}", target: :blank
    %h4= content_tag(:i, " Twitter", class: "fa fa-twitter")
  .panel-body
    %table{width: "100%"}
      %tr
        %td{style: 'padding-right: 10px;'}= image_tag(@feed['picture'], size: '50x50', class: "img-rounded")
        %td= @info.description
    %table{width: "100%"}
      %tr
        %td
          %strong= link_to "#{@info.tweets_count} #{t('posts')}", user_social_medium_path(@user, @feed, {type: 'home'}), remote: true
        %td{align: 'center'}
          %strong= link_to "#{@info.followers_count} #{t('followers')}", relationships_user_social_medium_index_path(@user, feed_id: @feed.id, relationship_type: 'followers'), remote: true
        %td{align: 'right'}
          %strong= link_to "#{@info.friends_count} #{t('following')}", relationships_user_social_medium_index_path(@user, feed_id: @feed.id, relationship_type: 'following'), remote: true

#results
  = render 'twitter_feed'
