.span10
  .lead{align: "center"}
    %p= MediaFeed::TYPE_NAME[@feed.feed_type]
    .well.well-small
      = image_tag(@feed.picture, size: '40x40')
      = @feed.full_name
      = "(#{@feed.username})"
- if @results.any?
  - @results.each do |post|
    .span10.well.well-small
      .span4
        = image_tag(post.images.low_resolution.url)
      .span6
        %table.table{style: "width:100%"}
          %tr
            %td{colspan: "2"}= Time.at(post.created_time.to_i).strftime("%B %d, %Y")
          %tr
            %td{colspan: "2"}= post.caption.text
          %tr
            %td{colspan: "2"}="#{post.likes[:count]} likes"
          - post[:comments][:data].each do |comment|
            %tr
              %td{rowspan: "2", style: "width:20%"}= image_tag(comment.from[:profile_picture], size: '40x40')
              %td{style: "width:80%"}= link_to comment.from[:username], "http://instagram.com/#{comment.from[:username]}"
            %tr
              %td= comment.text
-else
  No Results