:javascript
  function setAssigned(){
    $('#assignee').toggle();
  }

  function setDailyOccurance(){
    if ($('#daily').is(':checked')) {
      $('#as_needed').attr("checked", false);
      $('#sunday').attr("checked", false);
      $('#monday').attr("checked", false);
      $('#tuesday').attr("checked", false);
      $('#wednesday').attr("checked", false);
      $('#thursday').attr("checked", false);
      $('#friday').attr("checked", false);
      $('#anytime').attr("checked", true);
      return $('#saturday').attr("checked", false);
    }
  };

  function setSelectOccurance(){
    if ($('#sunday').is(':checked') || $('#monday').is(':checked') || $('#tuesday').is(':checked') || $('#wednesday').is(':checked') || $('#thursday').is(':checked') || $('#friday').is(':checked') || $('#saturday').is(':checked')) {
      $('#daily').attr("checked", false);
      return $('#as_needed').attr("checked", false);
    }
  };

.modal-body
  = bootstrap_form_for(@task, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7", remote: true) do |f|
    .errors
    = f.hidden_field :user_id
    = f.hidden_field :family_id
    = f.text_field :title
    = f.text_area :description, rows: "3", maxlength: "255"
    = f.text_field :points, label: t('views.credits')
    = f.form_group :daily do
      = f.check_box :daily, id: "daily", onclick: "setDailyOccurance();"
      = f.check_box :sunday, id: "sunday", onclick: "setSelectOccurance();"
      = f.check_box :monday, id: "monday", onclick: "setSelectOccurance();"
      = f.check_box :tuesday, id: "tuesday", onclick: "setSelectOccurance();"
      = f.check_box :wednesday, id: "wednesday", onclick: "setSelectOccurance();"
      = f.check_box :thursday, id: "thursday", onclick: "setSelectOccurance();"
      = f.check_box :friday, id: "friday", onclick: "setSelectOccurance();"
      = f.check_box :saturday, id: "saturday", onclick: "setSelectOccurance();"
    = f.submit t('views.save'),class: "btn btn-primary"
    = link_to t('views.cancel'), "", class: "btn btn-default", data: {dismiss: "modal"}
    -if params[:action] == "edit"
      = link_to t('views.delete'), @task, method: :delete, data: {confirm: t('views.are_you_sure')}, class: "btn btn-danger"