:javascript
  function setMonthlyOccurance(){
    if ($('#monthly').is(':checked')) {
      $('#weekly').attr("checked", false);
      $('#daily').attr("checked", false);
      $('#sunday').attr("checked", false);
      $('#monday').attr("checked", false);
      $('#tuesday').attr("checked", false);
      $('#wednesday').attr("checked", false);
      $('#thursday').attr("checked", false);
      $('#friday').attr("checked", false);
      return $('#saturday').attr("checked", false);
    }
  };

  function setWeeklyOccurance(){
    if ($('#weekly').is(':checked')) {
      $('#monthly').attr("checked", false);
      $('#daily').attr("checked", false);
      $('#sunday').attr("checked", false);
      $('#monday').attr("checked", false);
      $('#tuesday').attr("checked", false);
      $('#wednesday').attr("checked", false);
      $('#thursday').attr("checked", false);
      $('#friday').attr("checked", false);
      return $('#saturday').attr("checked", false);
    }
  };

  function setDailyOccurance(){
    if ($('#daily').is(':checked')) {
      $('#weekly').attr("checked", false);
      $('#monthly').attr("checked", false);
      $('#sunday').attr("checked", false);
      $('#monday').attr("checked", false);
      $('#tuesday').attr("checked", false);
      $('#wednesday').attr("checked", false);
      $('#thursday').attr("checked", false);
      $('#friday').attr("checked", false);
      return $('#saturday').attr("checked", false);
    }
  };

  function setSelectOccurance(){
    if ($('#sunday').is(':checked') || $('#monday').is(':checked') || $('#tuesday').is(':checked') || $('#wednesday').is(':checked') || $('#thursday').is(':checked') || $('#friday').is(':checked') || $('#saturday').is(':checked')) {
      $('#daily').attr("checked", false);
      $('#weekly').attr("checked", false);
      return $('#monthly').attr("checked", false);
    }
  };

= form_for(@task) do |f|
  - if @task.errors.any?
    .text-error
      #error_explanation
        = pluralize(@task.errors.count, "error")
        prohibited this chore from being saved:
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
  %dl.dl-horizontal
    %dt
      %h5 Who?
      %dd
        Name
      %dd
        = f.collection_select :user_id, @users, :id, :name, value: ""
    %dt
      %h5 What?
      %dd
        Title
      %dd
        = f.text_field :title
      %dd
        Description
      %dd
        = f.text_area :description, rows: "3", maxlength: "255"
      %dd
        Credits
      %dd
        = f.text_field :points, class: "input-mini"
    %dt
      %h5 When?
      %dd
        = f.check_box :daily, id: "daily", onclick: "setDailyOccurance();"
        Daily
        = f.check_box :weekly, id: "weekly", onclick: "setWeeklyOccurance();"
        Weekly
        = f.check_box :monthly, id: "monthly", onclick: "setMonthlyOccurance();"
        Monthly
      %dd
        %br
        = f.check_box :sunday, id: "sunday", onclick: "setSelectOccurance();"
        Sunday
        = f.check_box :monday, id: "monday", onclick: "setSelectOccurance();"
        Monday
        = f.check_box :tuesday, id: "tuesday", onclick: "setSelectOccurance();"
        Tuesday
        = f.check_box :wednesday, id: "wednesday", onclick: "setSelectOccurance();"
        Wednesday
        = f.check_box :thursday, id: "thursday", onclick: "setSelectOccurance();"
        Thursday
        = f.check_box :friday, id: "friday", onclick: "setSelectOccurance();"
        Friday
        = f.check_box :saturday, id: "saturday", onclick: "setSelectOccurance();"
        Saturday
      %dd
        %br
        = f.radio_button :period, 0
        %div.label Not Set
        = f.radio_button :period, 1
        %div.label.label-info Morning
        = f.radio_button :period, 2
        %div.label.label-success Noon
        = f.radio_button :period, 3
        %div.label.label-warning Evening
      .actions{align: "right"}
        = f.submit "Save", class: "btn btn-success btn-small"