-if @family.tasks.any?
  %table.table.table-hover
    %thead
      %tr
        %th.width-40
        %th.width-160= t('task')
        -[6,5,4,3,2,1,0].each do |offset|
          -puts Time.now
          %th.truncate= t('days_abbr')[(Time.now - offset.days).wday]
        %th.width-40
    %tbody
      -@tasks.each do |t|
        %tr
          %td.text-center{id: "task-status-#{t.id}"}
            =content_tag(:i, nil, class: "fa fa-circle fa-2x text-#{t.status_class}")
          %td.truncate
            -if current_user.parent?
              = link_to t.title, edit_task_path(t), remote: true
            -else
              = t.title
            %br
            %em.text-muted.hidden-xs= t.description

          -[6,5,4,3,2,1].each do |offset|
            %td.table-bordered
              %span
                -t.completed_by(t.other_day(offset)).each do |comp|
                  %a.location.title-like{href: member_path(comp.user), style: 'text-decoration:none;'}
                    =image_tag(gravatar_for(comp.user), class: "img-rounded", size: "25x25")
          %td.table-bordered
            %span{id: "task-last-#{t.id}"}
              -t.completed_by.each do |comp|
                %a.location.title-like{href: member_path(comp.user), style: 'text-decoration:none;'}
                  =image_tag(gravatar_for(comp.user), class: "img-rounded", size: "25x25")
          %td{id: "task-#{t.id}"}
            -if current_user.parent?
              = link_to content_tag(:i, nil, class: "fa fa-square-o fa-2x"), who_task_completions_path(task_id: t.id), remote: true
            -else
              -if t.completed?
                =content_tag(:i, nil, class: "fa fa-check-square-o fa-2x text-success")
              -else
                = link_to content_tag(:i, nil, class: "fa fa-square-o fa-2x"), complete_task_path(task: t.id), remote: true

-else
  %em= t('no_tasks')
