-if @family.tasks.any?
  %table.table.table-hover
    %thead
      %tr
        %th.width-40
        %th= t('task')
        %th
        %th.width-40
    %tbody
      -@tasks.each do |t|
        %tr
          %td.text-center{id: "task-status-#{t.id}"}
            =content_tag(:i, nil, class: "fa fa-circle fa-2x text-#{t.status_class}")
          %td.truncate
            -if current_user.parent?
              = link_to t.title, edit_task_path(t), remote: true
            -else
              = t.title
            %br
            %em.text-muted.hidden-xs= t.description
          %td
            %span{id: "task-last-#{t.id}", style: "float:right;"}
              -t.completed_by.each do |comp|
                %a.location.title-like{href: member_path(comp.user), style: 'text-decoration:none;'}
                  =image_tag(gravatar_for(comp.user), class: "img-rounded", size: "25x25")
          %td{id: "task-#{t.id}"}
            -if current_user.parent?
              = link_to content_tag(:i, nil, class: "fa fa-square-o fa-2x"), who_task_completions_path(task_id: t.id), remote: true
            -else
              -if t.completed?
                =content_tag(:i, nil, class: "fa fa-check-square-o fa-2x text-success")
              -else
                = link_to content_tag(:i, nil, class: "fa fa-square-o fa-2x"), complete_task_path(task: t.id), remote: true

-else
  %em= t('no_tasks')
