.side-nav
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            =link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_task_path, remote: true
        = link_to t('tasks'), "/tasks", class: 'location'
    .panel-body
      .visible-xs
        %table.table.table-hover
          %thead
            %tr
              %th
                .pull-right
                  -if current_user.parent?
                    = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
                = t('members')
          %tbody
            %tr
              %td
                -@members.each do |user|
                  = link_to image_tag(gravatar_for(user), class: "img-rounded", size: "40x40"), member_path(user), class: 'location'

      .hidden-xs
        %table.table.table-hover
          %thead
            %tr
              %th
                .pull-right
                  -if current_user.parent?
                    = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
                = t('members')
          %tbody
            -@members.each do |user|
              %tr{id: "user-#{user.id}-row"}
                %td
                  %a.location.title-like{href: member_path(user), style: 'text-decoration:none;'}
                    =image_tag(gravatar_for(user), class: "img-rounded", size: "35x35")
                    =user.name
