.span8
  %h2
    %em= @user.name + "'s"
    Tasks
  = link_to " Add task", new_task_path, class: "i icon-plus label label-success"
  %h4 Today
  %table.table
    - @todays.each do |task|
      %tr
        %td= link_to task.title, task
        %td= link_to '', new_user_completion_path(task: task.id), class: "i icon-ok btn"
  %h4 This Week
  %table.table
    - @this_weeks.each do |task|
      %tr
        %td= link_to task.title, task
        %td= link_to '', new_user_completion_path(task: task.id), class: "i icon-ok btn"
  %h4 This Month
  %table.table
    - @this_months.each do |task|
      %tr
        %td= link_to task.title, task
        %td= link_to '', new_user_completion_path(task: task.id), class: "i icon-ok btn"