.span8
  %h2
    %em= @user.name + "'s"
    Tasks
  = link_to " Add task", new_task_path, class: "i icon-plus label label-success"
  %h4 Today
  %table.table
    - @todays.each do |task|
      %tr
        %td{colspan: "2"}= link_to task.title, task
        %td
        %td{align: "right"}
          -if Completion.find_by_user_id_and_task_id_and_completed(@user.id, task.id, @time)
            = link_to '', '#', class: "i icon-ok btn btn-success"
          -else
            = link_to '', new_user_completion_path(task: task.id), class: "i icon-ok btn"
  %h4 This Week
  %table.table
    - @this_weeks.each do |task|
      %tr
        %td{colspan: "2"}= link_to task.title, task
        %td
        %td{align: "right"}
          -if Completion.find_by_user_id_and_task_id_and_completed(@user.id, task.id, @time)
            = link_to '', '#', class: "i icon-ok btn btn-success"
          -else
            = link_to '', new_user_completion_path(task: task.id), class: "i icon-ok btn"
  %h4 This Month
  %table.table
    - @this_months.each do |task|
      %tr
        %td{colspan: "2"}= link_to task.title, task
        %td
        %td{align: "right"}
          -if Completion.find_by_user_id_and_task_id_and_completed(@user.id, task.id, @time)
            = link_to '', '#', class: "i icon-ok btn btn-success"
          -else
            = link_to '', new_user_completion_path(task: task.id), class: "i icon-ok btn"