<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @task.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @task.title %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Next date:</b>
  <%= @task.next_date %>
</p>

<p>
  <b>Daily:</b>
  <%= @task.daily %>
</p>

<p>
  <b>Weekly:</b>
  <%= @task.weekly %>
</p>

<p>
  <b>Monthly:</b>
  <%= @task.monthly %>
</p>

<p>
  <b>Sunday:</b>
  <%= @task.sunday %>
</p>

<p>
  <b>Monday:</b>
  <%= @task.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @task.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @task.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @task.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @task.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @task.saturday %>
</p>

<p>
  <b>Period:</b>
  <%= @task.period %>
</p>

<p>
  <b>How often:</b>
  <%= @task.how_often %>
</p>

<p>
  <b>Custom start:</b>
  <%= @task.custom_start %>
</p>

<p>
  <b>Points:</b>
  <%= @task.points %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
