.span6.well.well-small
  %div{align: "center"}
    %h3
      %em= @task.title
    .muted= @task.description
  %br
    This chore has been assigned to
    %b= link_to @task.user.name, @task.user
    and is to be completed
    %b
      = 'daily' if @task.daily
      = 'weekly' if @task.weekly
      = 'monthly' if @task.monthly
      = 'Sunday' if @task.sunday
      = 'Monday' if @task.monday
      = 'Tuesday' if @task.tuesday
      = 'Wednesday' if @task.wednesday
      = 'Thursday' if @task.thursday
      = 'Friday' if @task.friday
      = 'Saturday' if @task.saturday
    -if @task.period == 0
      at
      %b anytime.
    -elsif @task.period == 1
      in the
      %b morning.
    -elsif @task.period == 2
      at
      %b noon.
    -elsif @task.period == 3
      in the
      %b evening.
    -if @task.points > 0
      Upon completion,
      = @task.user.name
      will be awarded
      %b= @task.points
      credits.
  %br
    %em Last completed...
    -if @completions != []
      %table.table
        - @completions.each do |completion|
          %tr{ id: "completion-#{completion.id}" }
            %td= completion.completed
            %td= link_to ' Clear', completion, method: :delete, class: "i icon-remove btn btn-small", remote: true
    -else
      .muted This chore has not been completed yet.
    %br
  %p
    = link_to 'Back', :back, class: "btn btn-small"
    = link_to ' Edit', edit_task_path(@task), class: "i icon-edit btn"
    = link_to ' Delete', @task, confirm: 'Are you sure?', method: :delete, class: "i icon-trash btn"
