.span8.well
  %h3= @task.title
  = @task.description
  .lead
    Assigned to:
    %b= @task.user.name
  .lead
    Occurs:
    %b
      = 'Daily' if @task.daily
      = 'Weekly' if @task.weekly
      = 'Monthly' if @task.monthly
      = 'Sunday' if @task.sunday
      = 'Monday' if @task.monday
      = 'Tuesday' if @task.tuesday
      = 'Wednesday' if @task.wednesday
      = 'Thursday' if @task.thursday
      = 'Friday' if @task.friday
      = 'Saturday' if @task.saturday
  -if @task.period
    .lead
      When:
      %b
        = 'Morning' if @task.period == 1
        = 'Noon' if @task.period == 2
        = 'Evening' if @task.period == 3
  .lead
    = 'Every ' + @task.how_often.to_s + ' days.' if @task.how_often
  .lead
    = 'Credits:'
    %b
      = @task.points.to_s if @task.points
  %h4 Last completed...
  -if @completions != []
    %table.table
      - @completions.each do |completion|
        %tr{ id: "completion-#{completion.id}" }
          %td= completion.completed
          %td= link_to ' Clear', completion, method: :delete, class: "i icon-remove btn", remote: true
  -else
    .muted Task has not been done
    %br
  %p
    = link_to 'Back', :back, class: "btn"
    = link_to ' Edit', edit_task_path(@task), class: "i icon-edit btn btn-info"
    = link_to ' Destroy', @task, confirm: 'Are you sure?', method: :delete, class: "i icon-remove btn btn-danger"
