.span6.well.well-small.lead
  %div{align: "center"}
    %h3
      %em= @task.title
    .muted= @task.description
  %br
    Belongs to:
    = link_to @task.user.name, @task.user
  %p
    Occurs:
    %b
      = 'Daily' if @task.daily
      = 'Weekly' if @task.weekly
      = 'Monthly' if @task.monthly
      = 'Sunday' if @task.sunday
      = 'Monday' if @task.monday
      = 'Tuesday' if @task.tuesday
      = 'Wednesday' if @task.wednesday
      = 'Thursday' if @task.thursday
      = 'Friday' if @task.friday
      = 'Saturday' if @task.saturday
  %p
    -if @task.period != 0
      When:
      %b
        = 'Morning' if @task.period == 1
        = 'Noon' if @task.period == 2
        = 'Evening' if @task.period == 3
  %p
    Credits:
    %b
      = @task.points.to_s if @task.points
  %p
    %em Last completed...
    -if @completions != []
      %table.table
        - @completions.each do |completion|
          %tr{ id: "completion-#{completion.id}" }
            %td= completion.completed
            %td= link_to ' Clear', completion, method: :delete, class: "i icon-remove btn btn-small", remote: true
    -else
      .muted Chore has not been done
    %br
  %p
    = link_to 'Back', :back, class: "btn btn-small"
    = link_to ' Edit', edit_task_path(@task), class: "i icon-edit btn"
    = link_to ' Delete', @task, confirm: 'Are you sure?', method: :delete, class: "i icon-trash btn"
