%div.well.well-small
  %table{align: "center", width: "100%"}
    %tr
      %td{rowspan: "2"}
        =link_to image_tag(gravatar_for(user)), user_path(user)
      %td{align: "center"}
        .lead= link_to user.name, user_path(user)
      %td{align: "right"}
        .lead
          -if user.child?
            = "#{user.credits || 0} #{t('views.credits')}"
    %tr
      %td{align: "center"}
        %em= user.parent? ? t('views.parent') : t('views.child')
      %td{align: "right"}
        .span.edit-content
          =link_to " #{t('views.task')}", new_user_task_path(user), class: "glyphicon glyphicon-edit btn btn-default"
          -if current_user.parent? 
            =link_to " #{t('views.edit')}", edit_user_path(user), remote: true, class: "glyphicon glyphicon-edit btn btn-default"
            =link_to " #{t('views.delete')}", user, data: {confirm: t('views.are_you_sure')}, class: "glyphicon glyphicon-trash btn btn-default"