= form_for(@family) do |f|
  - if @family.errors.any?
    .text-error
      #error_explanation
        = pluralize(@family.errors.count, "error")
        prohibited this family from being saved:
        %ul
          - @family.errors.full_messages.each do |msg|
            %li= msg
  %table{with: "100%"}
    %col{width: "40%"}
    %col{width: "60%"}
    %tr
      %td
        %h5 New Family Name
      %td
        = f.text_field :name
  %h2.lead{align: "center"} Join Existing Family
  %table{with: "100%"}
    %col{width: "40%"}
    %col{width: "60%"}
    %tr
      %td
        %h5 Existing Famiy ID
      %td
        = f.text_field :url
    %tr
      %td
      %td
        = f.submit "Save", class: "btn btn-small btn-success"