= form_for(@family) do |f|
  - if @family.errors.any?
    .text-error
      #error_explanation
        = pluralize(@family.errors.count, "error")
        prohibited this family from being saved:
        %ul
          - @family.errors.full_messages.each do |msg|
            %li= msg
  %dl{class: "dl-horizontal"}
    %dt
      .field
      %h5 New Family Name
    %dd
      = f.text_field :name
    %dd
      or
    %dt
      .field
      %h5 Existing Family ID
    %dd
      = f.text_field :url
    .actions{align: "right"}
      = f.submit "Save", class: "btn btn-small btn-success"