= form_for(@family) do |f|
  - if @family.errors.any?
    .text-error
      #error_explanation
        = pluralize(@family.errors.count, "error")
        prohibited this family from being saved:
        %ul
          - @family.errors.full_messages.each do |msg|
            %li= msg
  %table.table
    %tr
      %td
        .span3
          New Family Name
        .span3
          = f.text_field :name
    %tr
      %td
        .span3
          Existing Famiy ID
        .span3
          = f.text_field :url
  .actions{align: "right"}
    = f.submit "Save", class: "btn btn-small btn-success"