.modal-body
  = bootstrap_form_for(@family, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7", remote: true) do |f|
    .errors
    = f.text_field :name, label: t('views.name')
    = f.text_field :url, label: t('views.family_id')
    = f.submit class: "btn btn-primary"
    = link_to "Cancel", "", class: "btn btn-default", data: {dismiss: "modal"}