.side-nav
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent? && params[:controller] == 'families'
            =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_family_path(@family), remote: true
        = link_to t('blank_family', family: @family.name), "/family", class: 'location'
    .panel-body
      .visible-xs
        %table.table.table-hover
          %thead
            %tr
              %th
                .pull-right
                  -if current_user.parent?
                    = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
                = t('members')
          %tbody
            %tr
              %td
                -@members.each do |user|
                  = link_to image_tag(gravatar_for(user), class: "img-rounded", size: "40x40"), member_path(user), class: 'location'

      .hidden-xs
        -if params[:controller] == 'families'
          %table.table.table-hover
            %thead
              %tr
                %th= t('portal_links')
            %tbody
              %tr
                %td= link_to t('family_portal'), "#{@family.portal_url}?token=#{current_user.get_token}", target: :blank
              %tr
                %td= link_to t("auto_auth_link"), "/family?token=#{current_user.get_token}", target: :blank

        %table.table.table-hover
          %thead
            %tr
              %th
                .pull-right
                  -if current_user.parent? && params[:controller] == 'families'
                    = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
                = t('members')
          %tbody
            -@members.each do |user|
              %tr{id: "user-#{user.id}-row"}
                %td
                  %a.location.title-like{href: member_path(user), style: 'text-decoration:none;'}
                    =image_tag(gravatar_for(user), class: "img-rounded", size: "35x35")
                    =user.name
