:javascript
  $(document).ready(function(){
    $('#child-login').on('slid.bs.carousel', function (e) {
      updateUser();
    });

    $("#child-login").swiperight(function() {
      $(this).carousel('prev');
      updateUser();
    });
    $("#child-login").swipeleft(function() {
      $(this).carousel('next');
      updateUser();
    });
  });

  function updateUser(){
    x = $('.item.active').attr('id');
    $('#id').val(x);
  }

.panel.panel-default.portal-pics
  .panel-heading
    %h4= t('blank_family', family: @family.name)
  .panel-body{align: 'center'}
    %form.form-horizontal{"accept-charset" => "UTF-8", :action => sessions_path, "data-remote" => "true", :method => "post", :role => "form"}
      %div{:style => "display:none"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}
        %input#id{:name => "id", :type => "hidden", :value => @users.first.id}
      .error
      #child-login.carousel.slide{"data-ride" => "carousel"}
        / Indicators
        %ol.carousel-indicators
          - c = 0
          -@users.each_slice(1) do |user|
            %li{"data-slide-to" => "#{c}", "data-target" => "#carousel-example-generic", class: "#{'active' if user == @users.first}"}
            - c += 1
        / Wrapper for slides
        .carousel-inner
          -@users.each do |user|
            .item{id: "#{user.id}", class: "#{'active' if user == @users.first}"}
              %img{:alt => "...", :src => "#{gravatar_for(user, 400)}"}/

        / Controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#child-login", :role => "button"}
          %span.fa.fa-chevron-left
        %a.right.carousel-control{"data-slide" => "next", :href => "#child-login", :role => "button"}
          %span.fa.fa-chevron-right
      / Carousel
      .form-group{style: 'padding:15px 15px 0px 15px;'}
        .input-group
          %input#pin.form-control{:type => "password", :name => 'pin', :placeholder => t('pin'), :value => params[:pin]}
          %span.input-group-btn
            %button.btn.btn-primary{:type => "submit"}= t('sign_in')
