:javascript
  $(document).ready(function(){
    $('#child-login').on('slid.bs.carousel', function (e) {
      updateUser();
    });

    $("#child-login").swiperight(function() {
      $(this).carousel('prev');
      updateUser();
    });
    $("#child-login").swipeleft(function() {
      $(this).carousel('next');
      updateUser();
    });
  });

  function updateUser(){
    x = $('.item.active').attr('id');
    $('#id').val(x);
  }

.lead.well.well-sm{align: "center"}
  = t('blank_family', family: @family.name)

.well.well-sm{align: "center"}
  = form_tag sessions_path do
    = hidden_field_tag :id, params[:id], value: @users.first.id
    #child-login.carousel.slide{"data-ride" => "carousel"}
      / Indicators
      %ol.carousel-indicators
        - c = 0
        -@family.children.each_slice(1) do |user|
          %li{"data-slide-to" => "#{c}", "data-target" => "#carousel-example-generic", class: "#{'active' if user == @users.first}"}
          - c += 1
      / Wrapper for slides
      .carousel-inner
        -@family.children.each do |user|
          .item{id: "#{user.id}", class: "#{'active' if user == @users.first}"}
            %img{:alt => "...", :src => "#{gravatar_for(user, 400)}"}/

      / Controls
      %a.left.carousel-control{"data-slide" => "prev", :href => "#child-login", :role => "button"}
        %span.fa.fa-chevron-left
      %a.right.carousel-control{"data-slide" => "next", :href => "#child-login", :role => "button"}
        %span.fa.fa-chevron-right
    / Carousel
    .form-group
      = password_field_tag :pin, '', placeholder: t('views.pin'), class: "form-control"
    %button.btn.btn-primary.btn-sm{:type => "submit"}= t('views.sign_in')
