.panel.panel-default
  .panel-heading
    %h4
      .pull-right
        -if current_user.parent?
          =link_to "", multi_families_path(id: @family.id), remote: true, class: "glyphicon glyphicon-cog btn btn-default btn-sm"
      = @family.name
  .panel-body
    .pull-left
      = image_tag(gravatar_for(@family), class: "img-rounded")
    %ul.list-group
      %li.list-group-item
        = link_to t('family_access_link'), @access_url

-@members.each do |user|
  =render partial: 'card_m', locals: { user: user }

= render partial: 'users/tasks', locals: { family: @family, user: @current_user, tasks: @family.todays_tasks, section: t('todays_tasks') }
-if current_user.parent?
  = render partial: 'users/tasks', locals: { family: @family, user: @current_user, tasks: @family.other_tasks, section: t('other_tasks') }
