.col-lg-12
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          = link_to " #{t('views.link')}", @access_url, class: "glyphicon glyphicon-new-window btn btn-default btn-sm"
          -if current_user.parent?
            =link_to "", multi_families_path(id: @family.id), remote: true, class: "glyphicon glyphicon-cog btn btn-default btn-sm"
        = t('views.blank_family', family: @family.name)
    .panel-body
      = image_tag(gravatar_for(@family), class: "img-rounded")

  -@family.users.each do |user|
    =render partial: 'card', locals: { user: user }

  = render partial: 'users/tasks', locals: { family: @family, user: @current_user, tasks: @family.todays_tasks, section: t('views.tasks') }
