%div{align: "center"}
  %table.table
    %tr
      %td.col-md-2{rowspan: "2"}
        = image_tag(gravatar_for(@family))
      %td
        .lead
          .pull-right
            = link_to " #{t('views.family_link')}", @access_url, class: "glyphicon glyphicon-share btn btn-default"
            -if current_user.parent?
              = link_to " #{t('views.member')}", new_user_path, remote: true, class: 'glyphicon glyphicon-plus btn btn-default'
              = link_to " ", edit_family_path(@family), remote: true, class: 'glyphicon glyphicon-edit btn btn-default'
          = t('views.blank_family', family: @family.name)
    %tr
      %td

-@family.users.each do |user|
  =render partial: 'card', locals: { user: user }

= render partial: 'users/tasks', locals: { tasks: @family.tasks, section: t('views.tasks') }