:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

.side-nav
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_family_path(@family), remote: true
        = link_to t('blank_family', family: @family.name), "/family", class: 'location'
    .panel-body.visible-xs
      %table.table.table-hover
        %thead
          %tr
            %th= t('members')
            %th{style: "width:32px;"}
              -if current_user.parent?
                = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
        %tbody
          %tr
            %td{colspan: '2'}
              -@members.each do |user|
                = link_to image_tag(gravatar_for(user), class: "img-rounded", size: "40x40"), member_path(user), class: 'location'

    .panel-body.hidden-xs
      %table.table.table-hover
        %thead
          %tr
            %th= t('portal')
        %tbody
          %tr
            %td{colspan: '2'}= link_to @family.url, @family.portal_url, target: :blank

      %table.table.table-hover
        %thead
          %tr
            %th= t('members')
            %th
              -if current_user.parent?
                = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
        %tbody
          -@members.each do |user|
            %tr{id: "user-#{user.id}-row"}
              %td
                %a.location.title-like{href: member_path(user), style: 'text-decoration:none;'}
                  =image_tag(gravatar_for(user), class: "img-rounded", size: "35x35")
                  =user.name
              %td{style: "width:32px;"}

.results-nav
  #user-results
    .panel.panel-default
      .panel-heading
        .pull-right
          =link_to content_tag(:i, nil, class: "fa fa-refresh fa-2x"), record_user_social_medium_index_path(current_user), remote: true, onclick: "$('.fa-refresh').addClass('fa-spin');"
        %h4= t("activity")
      .panel-body
        #timeline
          =render '/social_medium/activity'
