:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

.col-lg-12
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            =link_to "", multi_families_path(id: @family.id), remote: true, class: "glyphicon glyphicon-cog btn btn-default btn-sm"
        = t('views.blank_family', family: @family.name)
    .panel-body
      .pull-left
        = image_tag(gravatar_for(@family), class: "img-rounded")
      %ul.list-group
        %li.list-group-item
          .pull-right
            = link_to @access_url, @access_url
            %button.btn.btn-info.btn-sm.glyphicon.glyphicon-asterisk{"data-original-title" => t('views.tip_family_link'), "data-placement" => "left", "data-toggle" => "tooltip", :title => "", :type => "button"}
          = t('views.family_access_link')

-@members.each do |user|
  =render partial: 'card', locals: { user: user }

.col-lg-12
  = render partial: 'users/tasks', locals: { family: @family, user: @current_user, tasks: @family.todays_tasks, section: t('views.todays_tasks') }
  -if current_user.parent?
    = render partial: 'users/tasks', locals: { family: @family, user: @current_user, tasks: @family.other_tasks, section: t('views.other_tasks') }
