.span8{align: "center"}
  %h2.lead
    = @family.name
    Family
  .muted= @access_url
  -if current_user.user_type >= 10
    .row
      .span3
        = link_to "New Member", new_user_path, class: "btn btn-small"
        = link_to "Edit", edit_family_path(@family), class: "btn btn-small"
        = link_to 'Delete', @family, confirm: 'Are you sure?', method: :delete, class: "btn btn-small"
.row
  .span7
    %p
      -@users.sort_by{|x| x.user_type.to_i }.reverse.each do |user|
        =render partial: 'card', locals: { user: user }
