:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

.side-nav
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_family_path(@family), remote: true
        = link_to t('blank_family', family: @family.name), family_path(@family)
    .panel-body
      %table.table.table-hover
        %thead
          %tr
            %th= t('portal')
        %tbody
          %tr
            %td{colspan: '2'}= link_to @family.url, @family.portal_url, target: :blank

      %table.table.table-hover
        %thead
          %tr
            %th= t('members')
            %th
              -if current_user.parent?
                = link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), new_user_path, remote: true
        %tbody
          -@members.each do |user|
            %tr{id: "user-#{user.id}-row"}
              %td= link_to user.name, user_path(user)
              %td{style: "width:32px;"}
                -if current_user.parent?
                  = link_to content_tag(:i,nil, class: "fa fa-remove fa-1x"), user_path(user), method: :delete, data: {confirm: t('are_you_sure')}, remote: true

.results-nav
  #user-results
    .panel.panel-default
      .panel-heading
        %h4= t("activity")
      .panel-body
