%div{id: "all", hidden: true}
  .span8
    %ul.nav.nav-tabs
      %li
        = link_to 'Stats', user_path
      %li
        = link_to 'Todays', '#', onclick: "showTodays();"
      %li
        = link_to 'Weeks', '#', onclick: "showWeeks();"
      %li
        = link_to 'Months', '#', onclick: "showMonths();"
      %li.active
        = link_to 'All', '#', onclick: "showAll();"
  .span7
    %h4 All Chores
    %table.table
      - all.sort_by{ |t| t.period }.each do |task|
        %tr
          %td
            = render partial: 'chore', locals: { task: task }