.span8
  %div.well
    %table
      %tr
        -if user.thumbnail == ""
          %td= image_tag('no_profile.png', :class => 'img-rounded', :size => "50x50")
        -else
          %td= image_tag(user.thumbnail, :class => 'img-rounded', :size => "50x50")
        %td
          %h2= user.name
        %td
        %td= user.credits
      -if user.parent_id == nil
        %tr
          %td
          %td= user.facebook_id
    %h3= link_to 'Tasks', user_tasks_path(user)
    %table.table{align: "center"}
      %tr
        %td Today
        %td
          - today_complete = Completion.where(completed: Date.today.to_s, user_id: user.id, task_id: @todays.collect(&:id)).count
          = today_complete
          = "/"
          - today_total = @todays.select {|t| t[:user_id] == user.id }.count
          = today_total
      %tr
        %td{:colspan => "2"}
          .progress.progress
            .bar{:style => "width: #{today_complete.to_f/today_total.to_f*100}%;"}
      %tr
        %td This Week
        %td
          - this_week_complete = Completion.where(completed: Date.today.to_s, user_id: user.id, task_id: @this_weeks.collect(&:id)).count
          = this_week_complete
          = "/"
          - this_week_total = @this_weeks.select {|t| t[:user_id] == user.id }.count
          = this_week_total
      %tr
        %td{:colspan => "2"}
          .progress.progress
            .bar{:style => "width: #{this_week_complete.to_f/this_week_total.to_f*100}%;"}
      %tr
        %td This Month
        %td
          - this_month_complete = Completion.where(completed: Date.today.to_s, user_id: user.id, task_id: @this_months.collect(&:id)).count
          = this_month_complete
          = "/"
          - this_month_total = @this_months.select {|t| t[:user_id] == user.id }.count
          = this_month_total
      %tr
        %td{:colspan => "2"}
          .progress.progress
            .bar{:style => "width: #{this_month_complete.to_f/this_month_total.to_f*100}%;"}
    = link_to ' Edit', edit_user_path(user), class: "i icon-edit btn btn-info"
    = link_to ' Remove', user, confirm: 'Are you sure?', method: :delete, class: "i icon-remove btn btn-danger"