%div.well.well-small
  %h4= section
  %table.table
    %col{:width => "20%"}
    %col{:width => "70%"}
    %tr
      %th= section == "Todays" ? "When" : "Days"
      %th Chore
    -tasks.sort_by(&:period).each do |task|
      %tr
        -if section == "Todays"
          %td=if task.period == 1 then 'Morning' elsif task.period == 2 then 'Noon' elsif task.period == 3 then 'Evening' else 'Anytime' end
        -else
          %td= task.completions.count > 0 ? (Time.now - task.completions.last.created_at).to_i / 1.day : 'No Completions'
        %td
          .span5
            = link_to task.title, task
          .span1{ id: "task-#{task.id}" }
            -if Completion.find_by_user_id_and_task_id_and_completed(@user.id, task.id, @time)
              = link_to '', '#', class: "i icon-ok btn btn-success"
            -else
              = link_to '', complete_task_path(task: task.id, user: @user.id, task_ids: tasks.collect(&:id)), class: "i icon-ok btn", remote: true