= form_for(@user) do |f|
  - if @user.errors.any?
    .text-error
      #error_explanation
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  %dl{class: "dl-horizontal"}
    %dt
      .field
      %h5 Name
    %dd
      = f.text_field :name, placeholder: "Name"
    %dt
      .field
      %h5 Email
    %dd
      = f.text_field :email, placeholder: "Email"
    %dt
      .field
        %h5 Parent ID
    %dd
      = f.text_field :parent_id, placeholder: "Link to parent", value: (if @user.id == current_user.id then nil  else current_user.id end)
    %dt
      .field
        %h5 Profile Photo
    %dd
      -if @user.email == nil && @user.name == nil
        Will be pulled from Gravatar or auto generated.
      -else
        = image_tag(gravatar_for(@user.email != "" ? @user.email : @user.name))
    .actions{align: "right"}
      = f.submit "Save", class: "btn btn-small btn-success"