= form_for(@user) do |f|
  - if @user.errors.any?
    .text-error
      #error_explanation
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  %dl{class: "dl-horizontal"}
    %dt
      .field
      %h5 Name
    %dd
      = f.text_field :name, placeholder: "Name"
    %dt
      .field
      %h5 Email
    %dd
      = f.text_field :email, placeholder: "Email"
    %dt
      .field
      %h5 Password
    %dd
      = f.password_field :password, placeholder: "Password"
    %dt
      .field
      %h5 Password Confirmation
    %dd
      = f.password_field :password_confirmation, placeholder: "Confirm Password"
    -if current_user
      %dt
        .field
        %h5 Pin
      %dd
        = f.text_field :pin, placeholder: "4 digit pin", :maxlength => 4
      %dt
        .field
        %h5 Parent
      %dd
        = f.check_box :user_type
    %dt
      .field
        %h5 Avatar
    %dd
      -if @user.email == nil && @user.name == nil
        .muted
          Will be pulled from
          = link_to 'Gravatar', 'http://gravatar.com'
          using the provided email address or auto generated.
      -else
        = image_tag(gravatar_for(@user.email == nil || @user.email == "" ? @user.name : @user.email))
    .actions{align: "right"}
      = f.submit "Save", class: "btn btn-small btn-success"