.span8{align: "center"}
  .row
    .span2
      = image_tag(gravatar_for(@user.email ? @user.email : @user.name))
    .span3
      %h2.lead= @user.name
    .span2.well.well-small{id: "credits"}
      .lead
        = @user.credits
        credits
  -if current_user.facebook_id != "" && current_user.facebook_id != nil
    .row.span7{align: "right"}
      = link_to "New Chore", new_task_path, class: "btn btn-small"
      = link_to 'Edit', edit_user_path(@user), class: "btn btn-small"
      = link_to 'Delete', @user, confirm: 'Are you sure?', method: :delete, class: "btn btn-small"
  %p
.span8
  %ul.nav.nav-tabs.visible-desktop.visible-tablet
    %li.active{id: "stats-tab"}
      = link_to 'Progress', user_path
    %li{id: "todays-tab"}
      = link_to 'Todays', '#', onclick: "showTodays();"
    %li{id: "weeks-tab"}
      = link_to 'Weeks', '#', onclick: "showWeeks();"
    %li{id: "months-tab"}
      = link_to 'Months', '#', onclick: "showMonths();"
    %li{id: "all-tab"}
      = link_to 'All', '#', onclick: "showAll();"
  %ul.nav.nav-tabs.visible-phone
    %li.active{id: "s-tab"}
      = link_to 'P', user_path
    %li{id: "t-tab"}
      = link_to 'T', '#', onclick: "showTodays();"
    %li{id: "w-tab"}
      = link_to 'W', '#', onclick: "showWeeks();"
    %li{id: "m-tab"}
      = link_to 'M', '#', onclick: "showMonths();"
    %li{id: "a-tab"}
      = link_to 'A', '#', onclick: "showAll();"