.span8{align: "center"}
  .row
    .span2
      -if @user.thumbnail == ""
        = image_tag('no_profile.png', :class => 'img-rounded', :size => "75x75")
      -else
        = image_tag(@user.thumbnail, :class => 'img-rounded', :size => "75x75")
    .span3
      %h2.lead= @user.name
    .span2.well.well-small{id: "credits"}
      .lead
        = @user.credits
        credits
  .row
    .span2
      = link_to " Chore", new_task_path, class: "i icon-plus btn btn-success btn-small"
  %p