.side-nav
  -unless @user.enabled
    .alert.alert-danger{align: "center"}
      %h4= t("account_disabled")
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            %span{style: "padding-left:10px;"}
              =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_user_path(@user), remote: true
        = link_to @user.name, member_path(@user), class: 'location'
    .panel-body.visible-xs
      -unless current_user.expired?
        %table.table.table-hover
          %thead
            %tr
              %th= t('social_media')
              %th{style: "width:32px;"}
                -if @user == current_user
                  = link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), social_medium_users_path(id: @user.id), remote: true
          %tbody
            -if @user.social_medium.any?
              %tr
                %td{colspan: '2'}
                  -@user.social_medium.each do |feed|
                    =link_to content_tag(:i, nil, class: "fa fa-#{feed.css_class} fa-3x"), user_social_medium_path(@user, feed, {type: 'recent'}), remote: true, onclick: "loadingSocialMedia();"

    .panel-body.hidden-xs
      %div{align: "center"}= link_to image_tag(gravatar_for(@user), class: "img-rounded"), user_path(@user)
      -unless current_user.expired?
        %table.table.table-hover
          %thead
            %tr
              %th= t('social_media')
              %th
                -if @user == current_user
                  = link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), social_medium_users_path(id: @user.id), remote: true
          %tbody
            -if @user.social_medium.any?
              -@user.social_medium.each do |feed|
                %tr
                  %td
                    %a.title-like{href: "#{user_social_medium_path(@user, feed, {type: 'recent'})}", data: {remote: "true"}, onclick: "loadingSocialMedia();", style: 'text-decoration:none;'}
                      = content_tag(:i, nil, class: "fa fa-#{feed.css_class}")
                      = feed.type_tag
                  %td{style: "width:32px;"}
