%div{id: "stats"}
  .span8
    %ul.nav.nav-tabs
      %li.active
        = link_to 'Stats', user_path
      %li
        = link_to 'Todays', '#', onclick: "showTodays();"
      %li
        = link_to 'Weeks', '#', onclick: "showWeeks();"
      %li
        = link_to 'Months', '#', onclick: "showMonths();"
      %li
        = link_to 'All', '#', onclick: "showAll();"
  .span8
    %h4 Completion Stats
    %table.table{align: "center"}
      %tr
        %td Today
        %td
          - today_complete = Completion.where(completed: Date.today.to_s, user_id: user.id, task_id: todays.collect(&:id)).count
          = today_complete
          = "/"
          - today_total = todays.select {|t| t[:user_id] == user.id }.count
          = today_total
      %tr
        %td{:colspan => "2"}
          .progress.progress
            .bar{:style => "width: #{today_complete.to_f/today_total.to_f*100}%;"}
      %tr
        %td This Week
        %td
          - this_week_complete = Completion.where(completed: Date.today.to_s, user_id: user.id, task_id: this_weeks.collect(&:id)).count
          = this_week_complete
          = "/"
          - this_week_total = this_weeks.select {|t| t[:user_id] == user.id }.count
          = this_week_total
      %tr
        %td{:colspan => "2"}
          .progress.progress
            .bar{:style => "width: #{this_week_complete.to_f/this_week_total.to_f*100}%;"}
      %tr
        %td This Month
        %td
          - this_month_complete = Completion.where(completed: Date.today.to_s, user_id: user.id, task_id: this_months.collect(&:id)).count
          = this_month_complete
          = "/"
          - this_month_total = this_months.select {|t| t[:user_id] == user.id }.count
          = this_month_total
      %tr
        %td{:colspan => "2"}
          .progress.progress
            .bar{:style => "width: #{this_month_complete.to_f/this_month_total.to_f*100}%;"}