%div{id: "todays", hidden: true}
  .span8
    %h4 Todays Chores
    - todays.group_by(&:period).sort.each do |key, tasks|
      - period = tasks.first.period
      = if period == 1 then 'Morning' elsif period == 2 then 'Noon' elsif period == 3 then 'Evening' else 'Anytime' end
      %table.table
        -tasks.each do |task|
          %tr
            %td
              .span5
                = link_to task.title, task
              .span1{ id: "task-#{task.id}" }
                -if Completion.find_by_user_id_and_task_id_and_completed(user.id, task.id, time)
                  = link_to '', '#', class: "i icon-ok btn btn-block btn-success"
                -else
                  = link_to '', complete_task_path(task: task.id, user: user.id), class: "i icon-ok btn btn-block", remote: true