%div{id: "todays", hidden: true}
  .span8
    %ul.nav.nav-tabs
      %li
        = link_to 'Stats', user_path
      %li.active
        = link_to 'Todays', '#', onclick: "showTodays();"
      %li
        = link_to 'Weeks', '#', onclick: "showWeeks();"
      %li
        = link_to 'Months', '#', onclick: "showMonths();"
      %li
        = link_to 'All', '#', onclick: "showAll();"
  .span7
    %h4 Todays Chores
    %table.table
      - todays.sort_by{ |t| t.period }.each do |task|
        %tr
          %td
            .span5
              %a{class: "badge badge-#{if task.period == 1 then 'info' elsif task.period == 2 then 'success' elsif task.period == 3 then 'warning' end}"}
                = if task.period == 1 then 'M' elsif task.period == 2 then 'N' elsif task.period == 3 then 'E' else 'U' end
              = link_to task.title, task
            .span1{ id: "task-#{task.id}" }
              -if Completion.find_by_user_id_and_task_id_and_completed(user.id, task.id, time)
                = link_to '', '#', class: "i icon-ok btn btn-block btn-success"
              -else
                = link_to '', complete_task_path(task: task.id, user: user.id), class: "i icon-ok btn btn-block", remote: true