%div{align: "center"}
  %table.table
    %tr
      %td.col-md-2{rowspan: "2"}
        = image_tag(gravatar_for(@user))
      %td
        .lead
          -if @user.credits
            .pull-right.lead.label.label-success
              = "#{@user.credits} #{t('views.credits')}"
          = @user.name
    %tr
      %td
        -if @user.social_medium.any?
          .lead Social Media
          %div.well.well-small
            %table
              -@user.social_medium.each do |feed|
                %tr
                  %td= link_to MediaFeed::TYPE_NAME[feed.feed_type], user_media_feed_path(@user, feed)
        = t('views.social_media')

= render partial: 'tasks', locals: { tasks: @tasks, section: t('views.my_tasks') }
-if @user.family
  = render partial: 'tasks', locals: { tasks: @user.family.tasks, section: t('views.family_tasks') }

<<<<<<< Updated upstream
  %div{id: "all", hidden: true}
    %h4 All Chores
    - @user.tasks.sort_by{ |t| t.period }.each do |task|
      = render partial: 'chore', locals: { task: task }
.span2{align: "center"}
  %p
  -if current_user.user_type >= 20
    = link_to " Chore", new_task_path, class: "i icon-plus btn"
    %p
  .lead Credits
  %div.well.well-small#credits
    -if current_user.user_type < 10
      .lead
        =current_user.credits
    -else
      %table{width: "100%"}
        -children.each do |member|
          %tr
            %td=member.name
            %td=member.credits
=======
= render partial: 'events', locals: { events: @user.events }
>>>>>>> Stashed changes
