:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

.side-nav
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            %span{style: "padding-left:10px;"}
              =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_user_path(@user), remote: true
        = @user.name
    .panel-body
      %div{align: "center"}= image_tag(gravatar_for(@user), class: "img-rounded")
      %table.table.table-hover
        %thead
          %tr
            %th= t('views.social_media')
            %th= link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), social_medium_users_path(id: @user.id), remote: true
        %tbody
          -if @user.social_medium.any?
            -@user.social_medium.each do |feed|
              %tr
                %td= link_to content_tag(:i, " #{feed.type_tag}", class: "fa fa-#{feed.type_tag.downcase} fa-2x"), user_social_medium_path(@user, feed, {type: 'recent'}), remote: true
                %td{style: "width:32px;"}= link_to content_tag(:i,nil, class: "fa fa-remove fa-1x"), user_social_medium_path(@user, feed), method: :delete
          -else
            %tr
              %td{colspan: '2', style: 'text-align: center;'}= t('no_social_media')


.results-nav
  #user-results
    .panel.panel-default
      .panel-heading
        %h4= t("activity")
      .panel-body
