%div{align: "center"}
  %table.table
    %tr
      %td.col-md-2{rowspan: "2"}
        = image_tag(gravatar_for(@user))
      %td
        .lead
          -if @user.credits
            .pull-right.lead.label.label-success
              = "#{@user.credits} #{t('views.credits')}"
          = @user.name
    %tr
      %td
        -if @user.social_medium.any?
          .lead Social Media
          %div.well.well-small
            %table
              -@user.social_medium.each do |feed|
                %tr
                  %td= link_to MediaFeed::TYPE_NAME[feed.feed_type], user_media_feed_path(@user, feed)
        = t('views.social_media')

= render partial: 'tasks', locals: { tasks: @tasks, section: t('views.my_tasks') }
-if @user.family
  = render partial: 'tasks', locals: { tasks: @user.family.tasks, section: t('views.family_tasks') }
