:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  function loadingSocialMedia(){
    $("#loading").show();
    $("#user-results").hide();
  };

  function loadingMoreSocialMedia(){
    $("#more-loading").show();
    $("#more-results").hide();
  };

.side-nav
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            %span{style: "padding-left:10px;"}
              =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_user_path(@user), remote: true
        = link_to @user.name, user_path(@user)
    .panel-body.visible-xs
      %table.table.table-hover
        %thead
          %tr
            %th= t('social_media')
            %th{style: "width:32px;", align: 'right'}= link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), social_medium_users_path(id: @user.id), remote: true
        %tbody
          -if @user.social_medium.any?
            %tr
              %td{colspan: '2'}
                -@user.social_medium.each do |feed|
                  =link_to content_tag(:i, nil, class: "fa fa-#{feed.css_class} fa-3x"), user_social_medium_path(@user, feed, {type: 'recent'}), remote: true, onclick: "loadingSocialMedia();"
              %td{style: "width:32px;"}

    .panel-body.hidden-xs
      %div{align: "center"}= link_to image_tag(gravatar_for(@user), class: "img-rounded"), user_path(@user)
      %table.table.table-hover
        %thead
          %tr
            %th= t('social_media')
            %th= link_to content_tag(:i, nil, class: "fa fa-plus fa-1x"), social_medium_users_path(id: @user.id), remote: true
        %tbody
          -if @user.social_medium.any?
            -@user.social_medium.each do |feed|
              %tr
                %td= link_to content_tag(:i, " #{feed.type_tag}", class: "fa fa-#{feed.css_class} fa-2x"), user_social_medium_path(@user, feed, {type: 'recent'}), remote: true, onclick: "loadingSocialMedia();"
                %td{style: "width:32px;"}= link_to content_tag(:i,nil, class: "fa fa-remove fa-1x"), user_social_medium_path(@user, feed), method: :delete

.results-nav
  #loading{style: 'display:none;', align: 'center'}
    %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
      %h4.list-group-item.active
        %i.fa.fa-circle-o-notch.fa-spin

  #user-results
    -if @user.social_medium_stat
      .panel.panel-default
        .panel-heading
          %h4= t("social_media_activity")
        .panel-body
          - @user.social_medium_stat.format_data.each do |k,v|
            = content_tag(:i, " #{k.titleize}", class: "fa fa-#{k} fa-2x")
            = column_chart v, height: "150px", colors: ["#325d88","#93c54b","#f47c3c"], library: {legend: {labels: {boxWidth: 12}}, scales: {yAxes: [{ticks: {stepSize: 1}}]}}
