:javascript
  function showAll(){
    event.preventDefault()
    $('#stats').hide();
    $('#all').show();
    $('#stats-tab').removeClass('active');
    $('#all-tab').addClass('active');
    $('#s-tab').removeClass('active');
    $('#a-tab').addClass('active');
  }

.span8
  %div{align: "center"}
    = image_tag(gravatar_for(@user.email == nil || @user.email == "" ? @user.name : @user.email))
    .lead= @user.name
  .row
    %p
    %ul.nav.nav-tabs.visible-desktop.visible-tablet
      %li.active{id: "stats-tab"}
        = link_to 'Status', user_path
      %li{id: "all-tab"}
        = link_to 'All Chores', '#', onclick: "showAll();"
    %ul.nav.nav-tabs.visible-phone
      %li.active{id: "s-tab"}
        = link_to 'Status', user_path
      %li{id: "a-tab"}
        = link_to 'All Chores', '#', onclick: "showAll();"
  %div{id: "stats"}
    %div.well.well-small
      %h4 Progress
      %div#progress
        = @today_complete
        = "/"
        = @todays.count
        %p
          .progress.progress-success
            .bar{:style => "width: #{@percent_done}%;"}
    = render partial: 'chore_list', locals: { tasks: @todays, section: "Todays" }
    -if @as_needed.count > 0
      = render partial: 'chore_list', locals: { tasks: @as_needed, section: "As Needed" }
    -if @family_chores.count > 0
      = render partial: 'chore_list', locals: { tasks: @family_chores, section: "Family" }

  %div{id: "all", hidden: true}
    %h4 All Chores
    - @user.tasks.sort_by{ |t| t.period }.each do |task|
      = render partial: 'chore', locals: { task: task }
.span2{align: "center"}
  %p
  -if current_user.user_type >= 20
    = link_to " Chore", new_task_path, class: "i icon-plus btn"
    %p
  .lead Credits
  %div.well.well-small#credits
    -if current_user.user_type < 10
      .lead
        =current_user.credits
    -else
      %table{width: "100%"}
        -children.each do |member|
          %tr
            %td=member.name
            %td=member.credits