:javascript
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  function loadingSocialMedia(){
    $("#loading").show();
    $("#user-results").hide();
  };

  function loadingMoreSocialMedia(){
    $("#more-loading").show();
    $("#more-results").hide();
  };

.side-nav
  -unless @user.enabled
    .alert.alert-danger{align: "center"}
      %h4= t("account_disabled")
  .panel.panel-default
    .panel-heading
      %h4
        .pull-right
          -if current_user.parent?
            %span{style: "padding-left:10px;"}
              =link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), edit_user_path(@user), remote: true
        = link_to @user.name, member_path(@user), class: 'location'
    .panel-body.visible-xs
      -if current_user.enabled
        %table.table.table-hover
          %thead
            %tr
              %th= t('social_media')
              %th{style: "width:32px;"}
                -if @user == current_user
                  = link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), social_medium_users_path(id: @user.id), remote: true
          %tbody
            -if @user.social_medium.any?
              %tr
                %td{colspan: '2'}
                  -@user.social_medium.each do |feed|
                    =link_to content_tag(:i, nil, class: "fa fa-#{feed.css_class} fa-3x"), user_social_medium_path(@user, feed, {type: 'recent'}), remote: true, onclick: "loadingSocialMedia();"

    .panel-body.hidden-xs
      %div{align: "center"}= link_to image_tag(gravatar_for(@user), class: "img-rounded"), user_path(@user)
      -if current_user.enabled
        %table.table.table-hover
          %thead
            %tr
              %th= t('social_media')
              %th
                -if @user == current_user
                  = link_to content_tag(:i, nil, class: "fa fa-cog fa-1x"), social_medium_users_path(id: @user.id), remote: true
          %tbody
            -if @user.social_medium.any?
              -@user.social_medium.each do |feed|
                %tr
                  %td
                    %a.title-like{href: "#{user_social_medium_path(@user, feed, {type: 'recent'})}", data: {remote: "true"}, onclick: "loadingSocialMedia();", style: 'text-decoration:none;'}
                      = content_tag(:i, nil, class: "fa fa-#{feed.css_class}")
                      = feed.type_tag
                  %td{style: "width:32px;"}

.results-nav
  #loading{style: 'display:none;', align: 'center'}
    %div.list-group{style: "width:100%; padding-left:0px; text-align: center;"}
      %h4.list-group-item.active
        %i.fa.fa-circle-o-notch.fa-spin

  #user-results
    -if current_user.enabled
      -if @user.social_medium_stat
        .panel.panel-default
          .panel-heading
            %h4= t("social_media_stats")
          .panel-body
            - @user.social_medium_stat.format_data.each do |k,v|
              = content_tag(:i, " #{k.titleize}", class: "fa fa-#{k} fa-2x")
              = column_chart v, height: "150px", colors: ["#325d88","#93c54b","#f47c3c"], library: {legend: {labels: {boxWidth: 12}}, scales: {yAxes: [{ticks: {stepSize: 1}}]}}
      .panel.panel-default
        .panel-heading
          %h4= t("activity")
        .panel-body
          %ul.timeline
            -right = false
            -date = nil
            -@activities.each do |activity|
              -unless date == activity.date
                %li.timeline-date
                  .lable.label-success=l(activity.posted_at + Time.now.in_time_zone(activity.user.timezone).utc_offset, format: :short_dates)
              %li{class: "#{'timeline-inverted' if right}"}
                .timeline-badge
                  =link_to content_tag(:i, nil, class: "fa fa-#{activity.css_class} fa-2x activity-post-link"), activity_post_link(activity), remote: true
                .timeline-panel
                  .timeline-heading
                    %small.text-muted.pull-right{style: "padding-top:10px;"}
                      %i.glyphicon.glyphicon-time
                      =l(activity.posted_at + Time.now.in_time_zone(activity.user.timezone).utc_offset, format: :medium)
                    %h4.timeline-title
                      %a.location.title-like.visible-xs{href: member_path(activity.user), style: 'text-decoration:none;'}
                        =image_tag(gravatar_for(activity.user), class: "img-rounded", size: "35x35")
                      %a.location.title-like.hidden-xs{href: member_path(activity.user), style: 'text-decoration:none;'}
                        =image_tag(gravatar_for(activity.user), class: "img-rounded", size: "35x35")
                        =activity.user.name
                  .timeline-body
                    %p= activity.message
              - right = !right
              - date = activity.date
    -else
      .panel.panel-default
        .panel-heading
          %h4= t("account_disabled")
        .panel-body
          =t(@user.status, default: t('disabled_by_admin'))
