.panel.panel-default
  .panel-heading
    %h4= t('create_account')
  .panel-body
    %form.form-horizontal{"accept-charset" => "UTF-8", :action => (@user.id ? user_path(@user) : '/users'), "data-remote" => "true", :method => (@user.id ? "patch" : "post"), :role => "form"}
      %div{:style => "display:none"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      .form-group{style: "margin-bottom:0px;"}
        %label.col-md-3.control-label
        .col-md-9
          .errors
      .form-group
        %label.col-md-3.control-label{:for => "name"}= t('name')
        .col-md-9
          %input#name.form-control{:type => "text", :name => 'user[name]', :value => @user.name}
      .form-group
        %label.col-md-3.control-label{:for => "email"}= t('email')
        .col-md-9
          %input#email.form-control{:type => "text", :name => 'user[email]', :value => @user.email}
      .form-group
        %label.col-md-3.control-label{:for => "password"}= t('password')
        .col-md-9
          %input#password.form-control{:type => "password", :name => 'user[password]'}
      .form-group
        %label.col-md-3.control-label{:for => "password_confirmation"}= t('confirm_password')
        .col-md-9
          %input#password_confirmation.form-control{:type => "password", :name => 'user[password_confirmation]'}
      .form-group
        %label.col-md-3.control-label{:for => "pin"}= t('pin')
        .col-md-9
          %input#pin.form-control{:type => "text", :name => 'user[pin]', :value => @user.pin}
          .text-muted= t('pin_info')
      .form-group
        %label.col-md-3.control-label{:for => "timezone"}= t('timezone')
        .col-md-9
          - ActiveSupport::TimeZone.us_zones
          %select#timezone.form-control{:name => 'user[timezone]'}
            -timezone = @user.timezone || "America/Los_Angeles"
            -ActiveSupport::TimeZone.us_zones.each do |zone|
              %option{:value => zone.tzinfo.name, :selected => (zone.tzinfo.name == timezone)}= zone.name
      .form-group
        %label.col-md-3.control-label= t('parent')
        .col-md-9
          .material-switch{style: 'padding:12px 0px 0px 12px;'}
            %input{:name => "user[parent]", :type => "hidden", :value => 'off'}
            %input#parent{:name => "user[parent]", :type => "checkbox", :checked => @user.parent, :onchange => "$('.notifications-group').toggle();"}
            %label.label-success{:for => "parent"}

      .notifications-group{style: "#{'display:none;' unless @user.parent}"}
        .form-group
          %label.col-md-3.control-label{:for => "notifications"}= t('notifications')
          .col-md-9
            - ActiveSupport::TimeZone.us_zones
            %select#notifications.form-control{:name => 'user[notifications]'}
              -[[0,t("none")],[1,t("daily_report")]].each do |n|
                %option{:value => n[0], :selected => (n[0] == @user.notifications)}= n[1]
        .form-group
          %label.col-md-3.control-label{:for => "name"}= t('name')
          .col-md-9
            %input#name.form-control{:type => "text", :name => 'family[name]', :value => @family.name}
            -unless @family.id
              .text-muted= t('family_name_info')
        .form-group
          %label.col-md-3.control-label{:for => "url"}= t('family_id')
          .col-md-9
            %input#url.form-control{:type => "text", :name => 'family[url]', :value => @family.url}
            -unless @family.id
              .text-muted= t('family_id_info')
      .form-group
        %label.col-md-3.control-label
        .col-md-9{align: 'right'}
          %input.btn.btn-primary{:name => "commit", :type => "submit", :value => t('save')}/
