.span8{align: "center"}
  .row
    %h2 Recent Purchases
  .row
    %table.table
      -@purchases.each do |purchase|
        %tr{id: "purchase-#{purchase.id}"}
          %td
            .span2= purchase.item.name
            .span2= purchase.user.name
            .span2= Date.parse(purchase.created_at.to_s)
            .span1
              = link_to 'Refund', purchase, method: :delete, class: "btn btn-small", remote: true