.modal-body
  = bootstrap_form_for(@event, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-7", remote: true) do |f|
    .errors
    = f.text_field :name
    = f.text_area :description, rows: "3", maxlength: "255"
    = f.collection_select :user_id, (current_user.parent? ? @users : [current_user]), :id, :name, selected: params[:user_id]
    = f.datetime_select :start_time
    = f.submit t('views.save'),class: "btn btn-primary"
    = link_to t('views.cancel'), "", class: "btn btn-default", data: {dismiss: "modal"}
    -if params[:action] == "edit"
      = link_to t('views.delete'), @meal, method: :delete, data: {confirm: t('views.are_you_sure')}, class: "btn btn-danger"