:javascript
  function toggle_visibility(name) {
    var e = document.getElementsByName(name);
    $(e).toggle();
  }

  function addEvent(day) {
    hostAddress= top.location.host.toString();
    url = "http://" + hostAddress + "/events/new?start_time=" + day.dataset.date;
    window.location = url;
  }

  function showEvent(e) {
    event.stopPropagation();
    url = "/events/" + e;
    window.location = url;
  }

  function showPopover(e) {
    event.stopPropagation();
    $('#event-' + e).popover('show');
  }
.col-lg-12
  .panel.panel-default
    .panel-heading
      .pull-right
        = link_to " #{t('views.event')}", new_event_path, remote: true, class: "glyphicon glyphicon-plus btn btn-default btn-sm"
      = t('views.events_for')
    .panel-body
      %div{class: "label label-info", style: "margin-right:10px;"}
        %input{type: "checkbox", checked: "", onclick: "toggle_visibility('meal');"}
          = t('views.menu')
      - @family.each do |member|
        %div{class: "label label-#{member_label(member, @family)}", style: "margin-right:10px;"}
          %input{type: "checkbox", checked: "", onclick: "toggle_visibility(#{member.id});"}
          = member.name

  .calendar
    = month_calendar events: @events, table: {class: events_table}, previous_link: events_previous_link, next_link: events_next_link do |date, events|
      %em= date.day
      %br
      - events.each do |event|
        %a{name: "#{event.event_type == "meal" ? "meal" : event.user_id }", id: "event-#{event.id}", "data-content" => event.description, "data-toggle" => "popover", "data-trigger" => "focus", :href => "#", :role => "button", :tabindex => "0", :title => event.name, onclick: "showPopover(#{event.id});", class: "label label-#{event_label(event, @family)}"}= event.start_time.strftime("%l:%M %p")

:javascript
  $("td").attr("onclick", "addEvent(this);");
