:javascript
  function toggle_visibility(name) {
    var e = document.getElementsByName(name);
    $(e).toggle();
  }

  function addEvent(day) {
    hostAddress= top.location.host.toString();
    url = "http://" + hostAddress + "/events/new?start_time=" + day.dataset.date;
    window.location = url;
  }

  function showEvent(e) {
    event.stopPropagation();
    url = "/events/" + e;
    window.location = url;
  }

.span8
  = calendar @events.sort_by{ |t| t.start_time }, {prev_text: "< ", next_text: " >"} do |event|
    %div{name: "#{event.event_type == "meal" ? "meal" : event.user_id }", onclick: "showEvent(#{event.id});", class: "label label-#{event_label(event, @family)}", style: "cursor: pointer"}
      = event.start_time.strftime("%l:%M %p")
      %br
      = event.name
    %p
.span2{align: "center"}
  %p
  = link_to " #{t('views.event')}", new_event_path, remote: true, class: "glyphicon glyphicon-plus btn btn-default"
  %p
  .lead= t('views.events_for')
  %div.well.well-small
    %div{class: "label label-info"}
      %input{type: "checkbox", checked: "", onclick: "toggle_visibility('meal');"}
        = t('views.meals')
    %p
    - @family.each do |member|
      %div{class: "label label-#{member_label(member, @family)}"}
        %input{type: "checkbox", checked: "", onclick: "toggle_visibility(#{member.id});"}
        = member.name
      %p

:javascript
  $("td").attr("onclick", "addEvent(this);");