:javascript
  function toggle_visibility(name) {
    var e = document.getElementsByName(name);
    $(e).toggle();
  }

  function addEvent(day) {
    hostAddress= top.location.host.toString();
    url = "http://" + hostAddress + "/events/new?start_time=" + day.dataset.date;
    window.location = url;
  }

  function showEvent(e) {
    event.stopPropagation();
    url = "/events/" + e;
    window.location = url;
  }

.span8
  = calendar @events.sort_by{ |t| t.start_time }, {prev_text: "< ", next_text: " >"} do |event|
    %div{name: "#{event.user_id}", onclick: "showEvent(#{event.id});", class: "label label-#{(if event.user_id == family[0].id then "success" elsif event.user_id == family[1].id then "warning" elsif event.user_id == family[2].id then "important" elsif event.user_id == family[3].id then "info" elsif event.user_id == family[4].id then "inverse" else "" end)}", style: "cursor: pointer"}
      = event.start_time.strftime("%l:%M %p")
      %br
      = event.name
    %p
.span2{align: "center"}
  %p
  = link_to ' Event', new_event_path, class: "i icon-plus btn"
  -if current_user.user_type >= 10
    = link_to ' Meal', meals_path, class: "i icon-plus btn"
  %p
  .lead Events for...
  %div.well.well-small
    - family.each do |member|
      %div{class: "label label-#{(if member.id == family[0].id then "success" elsif member.id == family[1].id then "warning" elsif member.id == family[2].id then "important" elsif member.id == family[3].id then "info" elsif member.id == family[4].id then "inverse" else "" end)}"}
        %input{type: "checkbox", checked: "", onclick: "toggle_visibility(#{member.id});"}
        = member.name
      %p

:javascript
  $("td").attr("onclick", "addEvent(this);");