= form_for(@item) do |f|
  - if @item.errors.any?
    .text-error
      #error_explanation
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
        %ul
          - @item.errors.full_messages.each do |msg|
            %li= msg
  %table.table
    %tr
      %td
        .span3
          Name
        .span3
          = f.text_field :name
    %tr
      %td
        .span3
          Description
        .span3
          = f.text_area :description, rows: "3", maxlength: "255"
    %tr
      %td
        .span3
          Type
        .span3
          = f.radio_button :used_by, "user", checked: "checked"
          Child
          = f.radio_button :used_by, "family"
          Family
    %tr
      %td
        .span3
          Price
        .span3
          = f.text_field :price, class: "input-mini"
          credits
    %tr
      %td
        .span3
          Item Thumbnail
        .span3
          = f.text_field :thumbnail
    .actions{align: "right"}
      = f.submit "Save", class: "btn btn-small btn-success"