.span8{align: "center"}
  %div.well.well-small
    .row
      .span1
        -if item.thumbnail == ""
          = image_tag('product.png', :class => 'img-rounded', :size => "50x50")
        -else
          = image_tag(item.thumbnail, :class => 'img-rounded', :size => "50x50")
      .span3
        .lead= item.name
      .span2
        .lead
          = item.price
          credits
      .span1
        = link_to 'Buy', buy_item_path(item: item.id, user: current_user.id), class: "btn", remote: true
        %div{id: "item-#{item.id}"}
          .badge.badge-inverse= Purchase.where(item_id: item.id).count
    .row
      .span7
        .muted= item.description