-if params[:controller] != 'home' && params[:action] != 'my_family'
  .tabbable.tabs-left.visible-desktop
    %ul.nav.nav-tabs
      -if params[:controller] == 'users' || params[:controller] == 'tasks'
        %li.active
          %a{href: "#{user_path(current_user)}"}
            %i.icon-tasks
            Chores
      -else
        %li
          %a{href: "#{user_path(current_user)}"}
            %i.icon-tasks
            Chores
      -if current_user.family
        -if current_user.parent
          -if params[:controller] == 'families'
            %li.active
              %a{href: "#{family_path(current_user.family)}"}
                %i.icon-home
                Family
          -else
            %li
              %a{href: "#{family_path(current_user.family)}"}
                %i.icon-home
                Family
        -if params[:controller] == 'items' || params[:controller] == 'purchases'
          %li.active
            %a{href: "#{items_path}"}
              %i.icon-gift
              Store
        -else
          %li
            %a{href: "#{items_path}"}
              %i.icon-gift
              Store
      -else
        -if params[:controller] == 'families'
          %li.active
            %a{href: "#{new_family_path}"}
              %i.icon-home
              Create Family
        -else
          %li
            %a{href: "#{new_family_path}"}
              %i.icon-home
              Create Family
      -if params[:controller] == 'events'
        %li.active
          %a{href: "#{events_path}"}
            %i.icon-calendar
            Calendar
      -else
        %li
          %a{href: "#{events_path}"}
            %i.icon-calendar
            Calendar
      -if params[:controller] == 'meals' || params[:controller] == 'ingredients'
        %li.active
          %a{href: "#{meals_path}"}
            %i.icon-th-list
            Menu
      -else
        %li
          %a{href: "#{meals_path}"}
            %i.icon-th-list
            Menu
  .tabtopnav.visible-phone.visible-tablet
    %ul.nav.nav-tabs
      -if params[:controller] == 'users' || params[:controller] == 'tasks'
        %li.active
          %a{href: "#{user_path(current_user)}"}
            %i.icon-tasks
      -else
        %li
          %a{href: "#{user_path(current_user)}"}
            %i.icon-tasks
      -if current_user.family
        -if current_user.parent
          -if params[:controller] == 'families'
            %li.active
              %a{href: "#{family_path(current_user.family)}"}
                %i.icon-home
          -else
            %li
              %a{href: "#{family_path(current_user.family)}"}
                %i.icon-home
        -if params[:controller] == 'items' || params[:controller] == 'purchases'
          %li.active
            %a{href: "#{items_path}"}
              %i.icon-gift
        -else
          %li
            %a{href: "#{items_path}"}
              %i.icon-gift
      -else
        -if params[:controller] == 'families'
          %li.active
            %a{href: "#{new_family_path}"}
              %i.icon-home
        -else
          %li
            %a{href: "#{new_family_path}"}
              %i.icon-home
      -if params[:controller] == 'events'
        %li.active
          %a{href: "#{events_path}"}
            %i.icon-calendar
      -else
        %li
          %a{href: "#{events_path}"}
            %i.icon-calendar
      -if params[:controller] == 'meals' || params[:controller] == 'ingredients'
        %li.active
          %a{href: "#{meals_path}"}
            %i.icon-th-list
      -else
        %li
          %a{href: "#{meals_path}"}
            %i.icon-th-list