-if params[:controller] != 'home' && params[:action] != 'my_family'
  .tabbable.tabs-left.hidden-phone
    %ul.nav.nav-tabs
      -if params[:controller] == 'users'
        %li.active
          %a{href: "#{user_path(current_user)}"}
            %i.icon-user
            Profile
      -else
        %li
          %a{href: "#{user_path(current_user)}"}
            %i.icon-user
            Profile
      -if current_user.parent
        -if params[:controller] == 'families'
          %li.active
            %a{href: "#{family_path(current_user.family)}"}
              %i.icon-home
              Family
        -else
          %li
            %a{href: "#{family_path(current_user.family)}"}
              %i.icon-home
              Family
      -if params[:controller] == 'items' || params[:controller] == 'purchases'
        %li.active
          %a{href: "#{items_path}"}
            %i.icon-gift
            Store
      -else
        %li
          %a{href: "#{items_path}"}
            %i.icon-gift
            Store
  .tabtopnav.visible-phone
    %ul.nav.nav-tabs
      -if params[:controller] == 'users'
        %li.active
          %a{href: "#{user_path(current_user)}"}
            %i.icon-user
            Profile
      -else
        %li
          %a{href: "#{user_path(current_user)}"}
            %i.icon-user
            Profile
      -if current_user.parent
        -if params[:controller] == 'families'
          %li.active
            %a{href: "#{family_path(current_user.family)}"}
              %i.icon-home
              Family
        -else
          %li
            %a{href: "#{family_path(current_user.family)}"}
              %i.icon-home
              Family
      -if params[:controller] == 'items' || params[:controller] == 'purchases'
        %li.active
          %a{href: "#{items_path}"}
            %i.icon-gift
            Store
      -else
        %li
          %a{href: "#{items_path}"}
            %i.icon-gift
            Store