!!!
%html
  %head
    %title= t("family")
    <!--[if IE]><script scr="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "r3ME4eLrdN9NbPGONEA3wb0DEuQu5sj3_l8r68Mrkjw", :name => "google-site-verification"}/
    %link{:href => "/assets/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css", :rel => "stylesheet"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80132261-1', 'auto');
        ga('send', 'pageview');

%body
  #wrapper
    .navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          = image_tag("/assets/leaf_vectorized.png", size: "40x40", style: "margin-top:-10px;")
          = link_to t("family"), "#{current_user.family ? '/family' : '/profile'}", class: "location", style: "text-decoration:none;color:white;"
          -if params[:controller] == 'users' && params[:action] != 'index' && current_user.family
            =" / "
            = link_to @user.name, (@user == current_user ? "/profile" : "/member/#{@user.id}"), class: "location", style: "text-decoration:none;color:white;"
          -if current_user.parent?
            -unless current_user.activated?
              = link_to t('activate'), "/activate", class: "label label-success", style: "margin-left:20px;"
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right{style: "margin-right:20px;"}
          -if current_user.email == ENV['ADMIN']
            %li{class: "#{'active' if params[:controller] == 'users' && params[:action] == 'index'}"}
              = link_to t('admin'), admin_path, class: 'location'
          -if current_user.enabled
            %li{class: "#{'active' if params[:controller] == 'families'}"}
              -if current_user.family
                = link_to t('family'), "/family", class: 'location'
              -else
                = link_to t('family'), new_family_path, remote: true, data: {toggle: 'collapse'}
          %li{class: "#{'active' if params[:controller] == 'users' && params[:action] != 'index'}"}
            = link_to t('profile'), "/profile", class: 'location'
          %li= link_to t('sign_out'), signout_path, class: 'location'
        .collapse.navbar-collapse.navbar-ex1-collapse

    #page-wrapper
      .container-fluid
        = yield
        .results-nav
          =link_to content_tag(:i, nil, class: 'fa fa-arrow-up fa-2x'), "#", class: "cd-top btn btn-default"

    .container{style: "position:fixed; top:70px; right:0px; width:25%;"}
      -if flash.count > 0
        -flash.each do |name, msg|
          -if flash[:notice]
            .flash.alert.alert-info{align: "center"}
              =content_tag :div, msg, :id => "flash_#{name}"
          -else
            .flash.alert.alert-danger{align: "center"}
              =content_tag :div, msg, :id => "flash_#{name}"

    #modal.modal.fade
      .modal-dialog
        #inner-modal.modal-content
