!!!
%html.login
  %head
    %title JARVIS
    <!--[if IE]><script scr="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-responsive.min.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .navbar-header
        %a.navbar-brand= image_tag("jarvis.png")
    .container
      = yield

    .container{style:  "position:fixed; top:70px; right:0px; width:20%;"}
      -if flash.count > 0
        -flash.each do |name, msg|
          -if flash[:notice]
            .alert.fade.in.alert-info{align: "center"}
              =content_tag :div, msg, :id => "flash_#{name}"
          -else
            .alert.fade.in.alert-danger{align: "center"}
              =content_tag :div, msg, :id => "flash_#{name}"
    #modal.modal.fade
      .modal-dialog
        #inner-modal.modal-content